<div id="slider">
    <h1>This is the slider</h1>
</div>
<div id="content">
  <div>
    <h3>About</h3>
    <p>This year celebrates the 100 year anniversary for 1st Bedworth scout group! Seen as it's a hundred years we thought
    we would go above and beyond our normal walk to the off licence, to travelling a total of 100 miles. Starting from the
    center of london we plan on walking, kayaking and cycling to get back to Bedworth! We plan on donating half to the
    Myton Hospice and the remaining to be donated to 1st Bedworth to help deliver amazing experiences to the young people</p>
  </div>
  <div>
    <h3>Supporters</h3>
    <ul>
      <li>£30 - Ryan Clarke</li>
      <li>£30 - Ryan Clarke</li>
      <li>£30 - Ryan Clarke</li>
      <li>£30 - Ryan Clarke</li>
      <li>£30 - Ryan Clarke</li>
    </ul>
  </div>
</div>