<h1>Admin console</h1>
<ul>
  <li><h3>Member actions</h3></li>
  <li><a href="/admin/users/new">Add new user</a></li>
  <li><a href="/admin/users">Edit users</a></li>
</ul>
<ul>
  <li><h3>Blog post actions</h3></li>
  <li><a href="/admin/blogs/new">Add new blog post</a></li>
  <li><a href="/admin/blogs/">List blog posts</a></li>
</ul>