<!DOCTYPE html>
<html>
    <head>
        <title>1st Bedworth does 100 Miles for 100 years</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
          <div>
            <div id="logo">
              <h1>1st Bedworth</h1>
              <h4>#100miles3days>100years</h4>
            </div>
            <div id="nav">
              <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/progress">Progress</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div id="container">
            <%= yield %>
        </div>
        <footer>

        </footer>
    </body>
</html>
